<h1>Register Page</h1>

<form action="@Url.Action("AddUser","Account")" method="post">
    <p>login</p>
    <input type="text" name="login" value="" required/>
    <p>email</p>
    <input type="text" name="email" value="" required/>
    <p>password</p>
    <input type="password" name="password" value="" required/>
    <p>repeat password</p>
    <input type="password" name="confirmpass" value="" required/>
    <input type="submit" name="sub" value="Отправить" />
</form>
