@model MyChat.Models.Account.LoginModel

@{
    ViewData["Title"] = "Login Page";
}

<div class="div-login">
    <form asp-controller="Account" asp-action="Login" class="form-group form-group-sm" method="post">
        <p style="text-align: center;font-size: xx-large">Вход</p>
        <div class="error-div" asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <input asp-for="LoginOrEmail" class="form-control" id="login" placeholder="Никнейм или Email">
        </div>
        <div class="form-group">
            <input asp-for="Password" class="form-control" placeholder="Пароль">
        </div>
        <div class="form-group">
            <input asp-for="RememberMe" />
            <label asp-for="RememberMe"></label>
        </div>
        <button type="submit" class="btn btn-primary">Войти</button>
        <a style="text-align: center" asp-controller="Account" asp-action="Register">У меня нет аккаунта</a>
    </form>
</div>






