@model MyChat.Models.RegisterModel
@{
    ViewData["Title"] = "Register Page";
}

<div class="div-register">
    <form class="form-group form-group-sm" method="post" asp-controller="Account" asp-action="Register">
        <p style="text-align: center;font-size: xx-large">Регистрация</p>
        <div class="error-div" asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <input asp-for="UserName" class="form-control" placeholder="Придумайте логин">
            <span asp-validation-for="UserName"></span>
        </div>

        <div class="form-group">

            <input asp-for="Email" class="form-control" placeholder="Введите Email">
            <span asp-validation-for="Email"></span>
        </div>
        <div class="form-group">

            <input asp-for="Password" class="form-control" placeholder="Придумайте пароль">
            <span asp-validation-for="Password"></span>
        </div>
        <div class="form-group">
            <input asp-for="PasswordConfirm" class="form-control" placeholder="Подтвердите пароль">
            <span asp-validation-for="PasswordConfirm"></span>
        </div>
        <button type="submit" class="btn btn-primary">Создать аккаунт</button>
        <a style="text-align: center" asp-controller="Account" asp-action="Login">Уже есть аккаунт</a>
    </form>
</div>


