<div class="header-chat"><span style="color: white">Общий чат</span></div>
<div class="background-chat" id="chatroom">
    
</div>
<div style="display: flex;justify-content: center;margin:auto">
    <textarea class="form-control" style="width: 558px; height: 50px;" placeholder="Input message" id="message"></textarea>
    <button type="submit" class="btn btn-primary" style="margin-left:2px;" id="sendBtn">Send</button>
</div>

<script>
    const currentUserName = '@User.Identity.Name';
    const chatroom = document.getElementById('chatroom');
    const input = document.getElementById('message');
    const submit = document.getElementById('sendBtn');
</script>
<script src="~/js/dist/browser/signalr.min.js"></script>
<script src="~/js/chat.js"></script>
<script src="~/js/signalrConnection.js"></script>



