@model AppUser

@{
    ViewData["Title"] = "Profile";
}

<link href="/css/my.css" rel="stylesheet" />

<div class="content">
    <div class="div-profile">
        <div class="div-under-profile">
            <img class="image-profile" src="@Model.AvatarPath" alt="photo" style="display:block" />
            <p class="profile-name">@Model.NormalizedUserName </p>
            <div>
                <span class="span-online"><div class="div-online"></div>Онлайн</span>
            </div>
            <p>@Model.Status</p>
        </div>

    </div>
</div>
