@{
    ViewData["Title"] = "Welcome";
}


<div class="div-welcome">
    <p class="mychat-welcome">MyChat</p><br />
    <form class="btn-block" action="@Url.Action("Login","Account")" method="get">
        <button type="submit" class="btn btn-primary btn-lg btn-block">Start chatting</button> <br />
    </form>
</div>



