@{
    ViewData["Title"] = "Let`s chat";
}
<style>
    button{
        width: 100%;
        display: block;
    }
</style>
<link rel="stylesheet" href="~/css/my.css" />
<body>
    <div class="mydiv-index">
        <p class="myp-index">MyChat</p><br />
        <form class="myform-index" action ="@Url.Action("Login","Account")" method="get">
            <button type="submit" class="btn btn-primary">Начать общаться</button> <br />
        </form>
    </div>
</body>


