@{
    ViewData["Title"] = "Welcome";
}

<link rel="stylesheet" href="~/css/my.css" />
<body>
    <div class="mydiv-index">
        <p class="myp-index">MyChat</p><br />
        <form class="myform-index" action ="@Url.Action("Login","Account")" method="get" style="width: 100%">
            <button type="submit" class="btn btn-primary">Начать общаться</button> <br />
        </form>
    </div>
</body>


